@charset "UTF-8";
/* Обнуление */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* -------------------- */
h1 {
  font-size: 40px;
  line-height: 1;
  margin: 0px 0px 50px 0px;
}

h2 {
  font-size: 30px;
  line-height: 1;
  margin: 0px 0px 20px 0px;
}

body {
  height: 100%;
}

.wrapper main.main .building__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr minmax(100px, 1104px) 1fr;
  grid-template-columns: 1fr minmax(100px, 1104px) 1fr;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper main.main .building__body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.wrapper main.main .building__body > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.wrapper main.main .building__body > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr minmax(auto, 100px)/1fr;
  overflow: hidden;
  width: 100%;
  row-gap: 40px;
      grid-template-areas: "header" "main" "footer";
}

header.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main.main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  grid-template: repeat(auto-fit, minmax(1fr, auto))/1fr;
}

footer.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

.container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.wrapper .header {
  width: 100%;
}
.wrapper .header .header__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(auto, 750px) 1fr;
  grid-template-columns: 1fr minmax(auto, 750px) 1fr;
}
.wrapper .header section.header__entry {
  display: -ms-grid;
  display: grid;
  position: relative;
  background-color: #F9FBFF;
}
.wrapper .header section.header__entry .entry__logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(auto, 4.7275rem) minmax(auto, 2.2725rem) minmax(auto, 25.5rem) minmax(auto, 16.5rem) 1fr;
  -ms-grid-columns: 1fr;
      grid-template: minmax(auto, 4.7275rem) minmax(auto, 2.2725rem) minmax(auto, 25.5rem) minmax(auto, 16.5rem) 1fr/1fr;
}
.wrapper .header section.header__entry .entry__logo img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapper .header section.header__entry .entry__logo .entry__title {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
@media (min-width: 1104px) {
  .wrapper .header section.header__entry .entry__logo .entry__title {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    display: block;
    position: absolute;
  }
}
.wrapper .header section.header__entry .entry__logo .entry__title > span {
  font-family: "Montserrat", sans-serif;
  display: block;
  font-size: 50px;
  line-height: 70px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1104px) {
  .wrapper .header section.header__entry .entry__logo .entry__title > span {
    font-size: calc(16px + 34 * ((100vw - 470px) / 634));
  }
}
.wrapper .header section.header__entry .entry__logo .entry__title > span:nth-child(odd) {
  color: #415167;
}
.wrapper .header section.header__entry .entry__logo .entry__title > span:nth-child(even) {
  display: inline-block;
  background-color: #C7A17A;
  color: #F9FBFF;
  padding: 8px;
}
.wrapper .header .entry__image {
  position: relative;
}
@media (max-width: 1104px) {
  .wrapper .header .entry__image {
    display: none;
  }
}
.wrapper .header .entry__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .header aside.header__aside {
  font-family: "Nunito", sans-serif;
  background-color: #415167;
  color: #EDF0F5;
}
.wrapper .header aside.header__aside nav.aside__bar {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  row-gap: 10px;
  height: 100%;
  text-align: left;
  margin: 76px auto;
  padding: 0 20px;
}
.wrapper .header aside.header__aside nav.aside__bar .aside__item:nth-child(2) {
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 1104px) {
  .wrapper .header aside.header__aside nav.aside__bar .aside__item:nth-child(2) {
    font-size: calc(8px + 8 * ((100vw - 300px) / 804));
  }
}
.wrapper .header aside.header__aside nav.aside__bar ul li {
  padding: 30px 0;
}
.wrapper main.main .building h2.building__title {
  margin: 10px 0 0 0;
}
.wrapper main.main .building section.building__cards {
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media (max-width: 1104px) {
  .wrapper main.main .building section.building__cards {
    margin-top: calc(40px + 57 * ((100vw - 400px) / 704));
  }
}
.wrapper main.main .building section.building__cards .building__item {
  font-family: "Nunito", sans-serif;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper main.main .building section.building__cards .building__item .building__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid blue;
}
.wrapper main.main .building section.building__cards .building__item .building__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.wrapper main.main .building section.building__cards .building__item .building__image-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
}
@media (max-width: 1104px) {
  .wrapper main.main .building section.building__cards .building__item .building__image-title {
    font-size: calc(16px + 8 * ((100vw - 250px) / 854));
  }
}
.wrapper main.main .building section.building__cards .building__item .building__image-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #151D28;
}
@media (max-width: 1104px) {
  .wrapper main.main .building section.building__cards .building__item .building__image-text {
    font-size: calc(12px + 4 * ((100vw - 250px) / 854));
  }
}
.wrapper main.main .favourite {
  position: relative;
  margin-top: 100px;
  background-color: #F2F2F2;
}
@media (max-width: 1104px) {
  .wrapper main.main .favourite {
    margin-top: calc(40px + 60 * ((100vw - 300px) / 804));
  }
}
.wrapper main.main .favourite__body {
  display: -ms-grid;
  display: grid;
  grid-template: repeat(auto-fit, minmax(250px, 1fr))/1fr;
}
@media (min-width: 1050px) {
  .wrapper main.main .favourite__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: minmax(auto, 200px) minmax(100px, auto) 48px minmax(80px, 90px);
    grid-template-columns: minmax(auto, 200px) minmax(100px, auto) 48px minmax(80px, 90px);
    min-height: 100vh;
    overflow: hidden;
  }
  .wrapper main.main .favourite__body > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .wrapper main.main .favourite__body > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .wrapper main.main .favourite__body > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .wrapper main.main .favourite__body > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
.wrapper main.main .favourite__body .bg_green {
  background-color: #415167;
}
.wrapper main.main .favourite h3.favourite__subtitle {
  margin: 50px 0 0 0;
}
.wrapper main.main .favourite h2.favourite__title {
  margin: 10px 0 0 0;
}
.wrapper main.main .favourite section.favourite__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  row-gap: 32px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 70px 0 100px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper main.main .favourite section.favourite__cards .favourite__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 1px rgb(37, 100, 11);
          box-shadow: 0 0 1px rgb(37, 100, 11);
  margin: 0 20px;
}
.wrapper main.main .favourite section.favourite__cards .favourite__item .favourite__image {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 50% 0 0 0;
}
.wrapper main.main .favourite section.favourite__cards .favourite__item .favourite__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper main.main .favourite section.favourite__cards .favourite__item .favourite__content {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  margin: 10px 0 0 0;
  row-gap: 20px;
}
.wrapper main.main .favourite section.favourite__cards .favourite__item .favourite__content .favourite__price {
  font-size: 20px;
  padding: 30px 0 0 25px;
}
@media (max-width: 1104px) {
  .wrapper main.main .favourite section.favourite__cards .favourite__item .favourite__content .favourite__price {
    font-size: calc(12px + 8 * ((100vw - 560px) / 544));
  }
}
.wrapper main.main .favourite section.favourite__cards .favourite__item .favourite__content .favourite__image-title {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
  padding: 0 0 0 25px;
}
@media (max-width: 1104px) {
  .wrapper main.main .favourite section.favourite__cards .favourite__item .favourite__content .favourite__image-title {
    font-size: calc(15px + 9 * ((100vw - 560px) / 544));
  }
}
.wrapper main.main .favourite section.favourite__cards .favourite__item .favourite__content .favourite__image-text {
  font-size: 16px;
  padding: 0 0 0 25px;
}
@media (max-width: 1104px) {
  .wrapper main.main .favourite section.favourite__cards .favourite__item .favourite__content .favourite__image-text {
    font-size: calc(10px + 6 * ((100vw - 560px) / 544));
  }
}
.wrapper main.main .favourite section.favourite__cards .favourite__item .favourite__content .favourite__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 0;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin: 10px 10px;
}
.wrapper main.main .favourite .favourite__carousel-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #C7A17A;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper main.main .favourite .favourite__carousel-btn img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1050px) {
  .wrapper main.main .favourite .favourite__carousel-btn {
    display: none;
  }
}
.wrapper main.main .favourite .favourite__next-cards {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper main.main .favourite .favourite__next-cards > div {
  opacity: 0.3;
}
@media (max-width: 1050px) {
  .wrapper main.main .favourite .favourite__next-cards {
    display: none;
  }
}
.wrapper main.main .giftset__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1px minmax(100px, 1104px) 1fr;
  grid-template-columns: 1px minmax(100px, 1104px) 1fr;
  min-height: 100vh;
  overflow: hidden;
}
.wrapper main.main .giftset__body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wrapper main.main .giftset__body > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.wrapper main.main .giftset__body > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.wrapper main.main .giftset__body .giftset__container {
  padding: 30px;
  background-color: #EDF0F5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}
.wrapper main.main .giftset__body .bg_white {
  background: #EDF0F5;
}
.wrapper main.main .giftset h3.giftset__subtitle {
  margin: 50px 0 0 0;
}
.wrapper main.main .giftset h2.giftset__title {
  margin: 20px 0 50px 0;
}
.wrapper main.main .giftset section.giftset__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper main.main .giftset section.giftset__content .giftset__image {
  display: none;
}
@media (min-width: 1104px) {
  .wrapper main.main .giftset section.giftset__content .giftset__image {
    display: block;
    padding: 55% 0 0 40%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: #F2F2F2;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    position: relative;
  }
  .wrapper main.main .giftset section.giftset__content .giftset__image img {
    position: absolute;
    top: 0;
    padding: 10% 5% 0 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.wrapper main.main .giftset section.giftset__content .giftset__image-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  background-color: #F2F2F2;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.wrapper main.main .giftset section.giftset__content .giftset__image-content .giftset__price-section {
  margin: 2rem 0 0 0;
}
.wrapper main.main .giftset section.giftset__content .giftset__image-content .giftset__price-section .giftset__price {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.wrapper main.main .giftset section.giftset__content .giftset__image-content .giftset__main-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 1.25rem;
}
.wrapper main.main .giftset section.giftset__content .giftset__image-content .giftset__button-section {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.wrapper main.main .giftset section.giftset__content .giftset__image-content .giftset__title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.75rem;
  color: #232C38;
  padding: 1rem 0;
}
@media (max-width: 1104px) {
  .wrapper main.main .giftset section.giftset__content .giftset__image-content .giftset__title {
    font-size: 1.5rem;
    line-height: 1.25rem;
  }
}
.wrapper main.main .giftset section.giftset__content .giftset__image-content .giftset__text {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #151D28;
}
@media (min-width: 1104px) {
  .wrapper main.main .giftset section.giftset__content .giftset__image-content .giftset__text {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
.wrapper main.main .giftset section.giftset__content .giftset__suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.wrapper main.main .giftset section.giftset__content .giftset__suggestion .suggestion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.wrapper main.main .giftset section.giftset__content .giftset__suggestion .suggestion__item .suggestion__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper main.main .giftset section.giftset__content .giftset__suggestion .suggestion__item .suggestion__text-content .suggestion__title, .wrapper main.main .giftset section.giftset__content .giftset__suggestion .suggestion__item .suggestion__text-content .suggestion__text {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 0.8rem;
  color: #415167;
}
@media (min-width: 1104px) {
  .wrapper main.main .giftset section.giftset__content .giftset__suggestion .suggestion__item .suggestion__text-content .suggestion__title, .wrapper main.main .giftset section.giftset__content .giftset__suggestion .suggestion__item .suggestion__text-content .suggestion__text {
    font-size: 2rem;
    line-height: 1.8rem;
  }
}
.wrapper main.main .giftset section.giftset__content .giftset__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px 50px 10px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.wrapper main.main .giftset aside.giftset__panel {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.wrapper main.main .giftset aside.giftset__panel nav.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.wrapper main.main .giftset aside.giftset__panel nav.panel a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 63px 40px;
  height: 100%;
}
.wrapper main.main .giftset aside.giftset__panel nav.panel a:first-child {
  background-color: #F2F2F2;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}
.wrapper main.main .giftset aside.giftset__panel nav.panel a:not(:first-child) {
  background: #EDF0F5;
  mix-blend-mode: normal;
  opacity: 0.3;
  -webkit-box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: inset 5px 5px 4px 0 rgba(0, 0, 0, 0.4);
}
.wrapper main.main .giftset aside.giftset__panel nav.panel a:last-child {
  -webkit-box-shadow: inset 5px 0 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: inset 5px 0 4px 0 rgba(0, 0, 0, 0.4);
}
.wrapper main.main .combo {
  background-color: #FFFFFF;
  padding: 50px 0;
}
.wrapper main.main .combo__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 100px 1fr 48px minmax(80px, 90px);
  grid-template-columns: 100px 1fr 48px minmax(80px, 90px);
  min-height: 100vh;
  overflow: hidden;
}
.wrapper main.main .combo__body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wrapper main.main .combo__body > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.wrapper main.main .combo__body > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.wrapper main.main .combo__body > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.wrapper main.main .combo__body .bg_green {
  background-color: #415167;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper main.main .combo .combo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 0;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (min-width: 800px) {
  .wrapper main.main .combo .combo__items {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    padding: 0;
  }
}
.wrapper main.main .combo .combo__items .combo__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  row-gap: 10px;
}
@media (min-width: 800px) {
  .wrapper main.main .combo .combo__items .combo__card:last-child {
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .wrapper main.main .combo .combo__items .combo__card:last-child .combo__card-content {
    background-color: #FFFFFF;
    position: relative;
    z-index: 23;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  .wrapper main.main .combo .combo__items .combo__card .bg_green_for_combo__card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #415167;
    z-index: 1;
  }
}
.wrapper main.main .combo .combo__items .combo__card .combo__image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  padding: 70% 0 0 0;
}
.wrapper main.main .combo .combo__items .combo__card .combo__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper main.main .combo .combo__items .combo__card .combo__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #C7A17A;
}
.wrapper main.main .combo .combo__items .combo__card .combo__price > span {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #415167;
  opacity: 0.5;
}
.wrapper main.main .combo .combo__items .combo__card .combo__card-title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #232C38;
}
.wrapper main.main .combo .combo__items .combo__card .combo__card-text {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #151D28;
}
.wrapper main.main .combo .combo__carousel-btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #415167;
  position: relative;
  z-index: 20;
}
.wrapper main.main .combo .bg_green img {
  opacity: 0.5;
}
.wrapper .footer {
  background: #EDF0F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .footer .footer__text {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
  opacity: 0.5;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1104px) {
  .title {
    font-size: calc(20px + 10 * ((100vw - 470px) / 634));
  }
}

.subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #415167;
}

.buttons a {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
}
@media (max-width: 1104px) {
  .buttons a {
    font-size: calc(10px + 6 * ((100vw - 560px) / 544));
  }
}
@media (max-width: 1104px) {
  .buttons a {
    line-height: calc(15px + 7 * ((100vw - 560px) / 544));
  }
}
.buttons a:first-child {
  background: #C7A17A;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  text-align: center;
  border: 1px white solid;
  border-radius: 50%;
  padding: 10px 30px;
  color: #F9FBFF;
}
.buttons a:last-child {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  padding: 10px 30px;
  color: #415167;
}

.text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #151D28;
}

.price {
  font-family: "Nunito", sans-serif;
  color: #C7A17A;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.carousel-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #C7A17A;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}