// Обнуляющий стиль

@import 'nullstyle.scss';

// Шрифты

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');
$maxWidthContainer: 1104;
$maxWidth: 1920;


body {
  height: 100%;
}


@mixin adaptiv-value($property, $startSize, $minSize, $type, $blockSize) {
  $addSize: $startSize - $minSize;

  @if $type == 1 {
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$blockSize + px}) / #{$maxWidthContainer - $blockSize}));
    }
  } @else if $type == 2 {
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$blockSize + px}) / #{$maxWidth - $blockSize}));
    }
  } @else {
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$blockSize + px}) / #{$maxWidth - $blockSize}));
  }
}
%container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr minmax(100px, 1104px) 1fr;
  min-height: 100vh;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template: auto 1fr minmax(auto, 100px) / 1fr;
  overflow: hidden;
  width: 100%;
  row-gap: 40px;
  grid-template-areas:
          "header"
          "main"
          "footer";
}

header.header {
  grid-area: header;
}

main.main {
  grid-area: main;
  display: grid;
  grid-template: repeat(auto-fit, minmax(1fr, auto)) / 1fr;
}

footer.footer {
  grid-area: footer;
}

.container {
  grid-column: 2 / 3;
}


.wrapper {
  .header {
    width: 100%;
    .header__body {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 750px) 1fr;
    }
    section.header__entry {
      display: grid;
      position: relative;
      background-color: #F9FBFF;
      .entry__logo {
        display: grid;
        grid-template: minmax(auto, 4.7275rem) minmax(auto, 2.2725rem) minmax(auto, 25.5rem) minmax(auto, 16.5rem) 1fr/ 1fr;
        img {
          grid-row: 2 / 3;
          margin: 0 auto;
          padding: 0 10px
        }
        .entry__title {
          grid-row: 4 / 5;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 10px;
          @media (min-width: 1104px) {
            grid-row: 4 / 5;
            display: block;
            position: absolute;
          }
          > span {
            font-family: 'Montserrat', sans-serif;
            display: block;
            @include adaptiv-value('font-size', 50, 16, 1, 470);
            line-height: 70px;
            position: relative;
            z-index: 2;
          }
          > span:nth-child(odd) {
            color: #415167;
          }
          > span:nth-child(even) {
            display: inline-block;
            background-color: #C7A17A;
            color: #F9FBFF;
            padding: 8px;

          }
        }
      }
    }
    .entry__image {
      position: relative;
      @media (max-width: 1104px) {
        display: none;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;

      }
    }
    aside.header__aside {
      font-family: 'Nunito', sans-serif;
      background-color: #415167;
      color: #EDF0F5;
      nav.aside__bar {
        display: grid;
        grid-template-rows: repeat(auto-fit, 1fr);
        row-gap: 10px;
        height: 100%;
        text-align: left;
        margin: 76px auto;
        padding: 0 20px ;
        .aside__item:nth-child(2) {
          font-weight: 700;
          @include adaptiv-value('font-size', 16, 8, 1, 300)
        }
        ul li{
          padding: 30px 0 ;
        }
      }
    }
  }
  main.main {
    .building {
      &__body {
        @extend %container;
      }
      h3.building__subtitle {

      }
      h2.building__title {
        margin: 10px 0 0 0;
      }
      section.building__cards {
        @include adaptiv-value('margin-top', 97, 40, 1, 400);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 30px;
        .building__item {
          font-family: 'Nunito', sans-serif;
          flex-shrink: 1;
          flex-basis: 40%;
          display: flex;
          gap: 20px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .building__image {
            align-self: center;
            justify-self: center;
            display: flex;
            justify-content: center;
            img {
            }
          }
          .building__image-title {
            font-weight: 700;
            @include adaptiv-value('font-size', 24, 16, 1, 250);
            line-height: 28px;
            color: #232C38;
          }
          .building__image-text {
            font-weight: 300;
            @include adaptiv-value('font-size', 16, 12, 1, 250);
            line-height: 22px;
            text-align: center;
            color: #151D28;
          }
        }
      }
    }
    .favourite {
      position: relative;
      @include adaptiv-value('margin-top', 100, 40, 1, 300);
      background-color: #F2F2F2;
      &__body {
        display: grid;
        grid-template: repeat(auto-fit, minmax(250px, 1fr)) / 1fr;
        @media(min-width: 1050px) {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: minmax(100px, auto) minmax(100px, 1104px) 48px minmax(80px, 90px);
          min-height: 100vh;
          overflow: hidden;
        }
        .bg_green {
          background-color: #415167;
          width: 100%;
        }
        .favourite__container {
        }
      }
      h3.favourite__subtitle {
        margin: 50px 0 0 0;
      }
      h2.favourite__title {
        margin: 10px 0 0 0;
      }
      section.favourite__cards {
        display: flex;
        flex-flow: row wrap;
        row-gap: 32px;
        column-gap: 8px;
        justify-content: space-around;
        margin: 70px 0 100px 0;
        align-items: center;
        .favourite__item {
          display: flex;
          flex-basis: 45%;
          flex-grow: 1;
          flex-shrink: 1;
          background-color: #FFFFFF;
          box-shadow: 0 0 1px rgba(37, 100, 11, 1);
          margin: 0 20px;
          .favourite__image {
            position: relative;
            flex-basis: 50%;
            flex-shrink: 1;
            padding: 50% 0 0 0;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .favourite__content {
            display: grid;
            grid-auto-flow: row;
            margin: 10px 0 0 0;
            row-gap: 20px;
            .favourite__price {
              @include adaptiv-value('font-size', 20, 12, 1, 560);
              padding: 0 0 0 25px;
            }
            .favourite__image-title {
              font-family: 'Nunito', sans-serif;
              font-style: normal;
              font-weight: 700;
              @include adaptiv-value('font-size', 24, 15, 1, 560);
              line-height: 28px;
              color: #232C38;
              padding: 0 0 0 25px;
            }
            .favourite__image-text {
              @include adaptiv-value('font-size', 16, 10, 1, 560);
              padding: 0 0 0 25px;
            }
            .favourite__buttons {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 0 0 0;
              column-gap: 10px;
              margin: 10px 10px;
            }
          }
        }
      }
      .favourite__carousel-btn {
        align-self: center;
        justify-self: center;
        background-color: #C7A17A;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        position: relative;
        //padding: 0 0 56% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          position: absolute;
          object-fit: cover;
        }
        @media (max-width: 1050px) {
          display: none;
        }
      }
      .favourite__next-cards {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        > div {
          opacity: 0.3
        }
        @media (max-width: 1050px) {
          display: none;
        }
      }
    }
    .giftset {
      &__body {
        @extend %container;
      }
      h3.giftset__subtitle {}
      h2.giftset__title {}
      section.giftset__content {
        .giftset__image {}
        .giftset__price {}
        .giftset__title {}
        .giftset__text {}
        .giftset__suggestion {
          .suggestion__item {
            .suggestion__image {
              img {}
            }
            .suggestion__title {}
            .suggestion__text {}
          }
        }
        .giftset__buttons {
          a {}
        }
      }
      aside.giftset__panel {
        nav.panel {
          a {}
        }
      }
    }
    .combo {
      &__body {
        @extend %container;
      }
      h3.combo__subtitle {}
      h2.combo__title {}
      .combo__items {
        .combo__card {
          .combo__image {
            img {}
          }
          .combo__price.price {}
          .combo__card-title {}
          .combo__card-text {}
          .combo__buttons {
            a {}
          }
        }
      }
    }
  }
  .footer {
    background: #EDF0F5;
    display: flex;
    justify-content: center;
    align-items: center;
    &__body {

    }
    .footer__text {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #415167;
      opacity: 0.5;
    }
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  @include adaptiv-value('font-size', 30, 20, 1, 470);
  line-height: 34px;
  color: #415167;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.subtitle {
  font-family: 'Nunito' ,sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  color: #415167;
}

.buttons {
  a {
    @include adaptiv-value('font-size', 16, 10, 1, 560);
    @include adaptiv-value('line-height', 22, 15, 1, 560);
    display: inline-block;
  }
  a:first-child {
    background: #C7A17A;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
    border: 1px white solid;
    border-radius: 50%;
    padding: 10px 30px;
    color: #F9FBFF;
  }
  a:last-child {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #415167;
  }
}

.text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #151D28;

}

.price {
  font-family: 'Nunito', sans-serif;
  color: #C7A17A;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}